#playgroundTitle_o {
  grid-area: title;
  text-align: center;
  font-family: var(--font-sans_o);
  letter-spacing: 3.85px;
  font-weight: 900;
  color: var(--color_o);
  font-size: 21px;
  background: var(--interface-background_o);
  border-bottom: 1px solid var(--border-color_o);
}

#playgroundTitle_h1_o {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 2rem;
}

#playgroundTitle_button_o {
  position: absolute;
  right: 1rem;
  --button_o_color: #fff;
  font-weight: bold;
  --button_o_background: #fd271c;
  --button_o_background_hover: hsl(3, 98%, 60%);
  --button_o_background_active: #fd271c;
}
