#playgroundTitle_h1_o {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#playgroundTitle_button_o {
  position: absolute;
  right: 1rem;
  --_oadmin_button_color: #fff;
  font-weight: bold;
  --_oadmin_button_background: #fd271c;
  --_oadmin_button_background_hover: hsl(3, 98%, 60%);
  --_oadmin_button_background_active: #fd271c;
}
