#_oadmin {
  min-width: 2rem;
  min-height: 2rem;
  position: fixed;
  background: #f6f9fc;
  bottom: 0;
  right: 0;
  z-index: 999999999;
  color: #333;
  font-family: sans-serif;
  border-top: 1px solid #0000001f;
  border-left: 1px solid #0000001f;
}

#_oadmin_menu {
  display: none;
  flex-direction: column;
}

#_oadmin_menu._oadmin_menu_active {
  display: flex;
}

#_oadmin_menu_pageId {
  font-weight: bold;
  padding: 0.25rem 1rem 1rem;
}

#_oadmin_menu_path {
  display: flex;
  justify-content: space-between;
}
#_oadmin_menu_path > span {
  font-weight: bold;
  padding: 1rem 1rem 0.25rem;
}

._oadmin_menu_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

._oadmin_menu_item:hover {
  background: #1ea7fd;
  color: white;
}

._oadmin_dialog {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  row-gap: 0.25rem;
  padding: 0.5rem 1rem;
}

._oadmin_save_menu {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  row-gap: 0.25rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid #999;
}

._oadmin_button {
  border: 0;
  color: #333;
  font-size: 100%;
  padding: 0.3rem 0.9rem;
  background: #fafafa;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: normal;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
}

._oadmin_button:hover {
  background: #f2f2f2;
}

._oadmin_button:active {
  background: #fff;
}

._oadmin_button:focus {
  box-shadow: #1ea7fd 0 0 0 1px inset;
  outline: none;
}

._oadmin_modal_wrapper {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0005;
  z-index: 99999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

._oadmin_modal {
  background: #555;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  color: #fff;
  box-shadow: 0 0 15px #000a, 0 0 20px #fffa;
}

._oadmin_modal_fields {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 0.25rem;
  align-items: center;
}

._oadmin_dialog_grid_3 {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  row-gap: 0.25rem;
  align-items: center;
}

._oadmin_dialog_grid_2 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 0.25rem;
  align-items: center;
}

._oadmin_input_with_x {
  flex-grow: 1;
  appearance: none;
  border: 0 none;
  box-sizing: inherit;
  display: block;
  margin: 0;
  background: #ffffff;
  padding: 6px 10px;
  font-size: 13px;
  position: relative;
  transition: box-shadow 200ms ease-out, opacity 200ms ease-out;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 4px;
  line-height: 20px;
  flex: 1;
  text-align: left;
  padding-right: 1.5rem;
}

._oadmin_input_x {
  position: absolute;
  margin-left: -1rem;
  color: #a00;
  cursor: pointer;
}

._oadmin_input_new_item {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}
._oadmin_input_new_item > input {
  flex-grow: 1;
  appearance: none;
  border: 0 none;
  box-sizing: inherit;
  display: block;
  margin: 0;
  background: #ffffff;
  padding: 6px 10px;
  font-size: 13px;
  position: relative;
  transition: box-shadow 200ms ease-out, opacity 200ms ease-out;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 4px;
  line-height: 20px;
  flex: 1;
  text-align: left;
}

#storyIndex {
  display: grid;
  grid-template-areas: "list title" "list component" "list playground";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}
#StoryListComponents {
  grid-area: list;
  background: #f6f9fc;
  border-right: 1px solid #00000020;
  height: 100vh;
  overflow: auto;
}
#StoryTitle {
  grid-area: title;
  text-align: center;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  letter-spacing: 3.85px;
  font-weight: 900;
  color: #333;
  font-size: 21px;
  background: #f6f9fc;
  border-bottom: 1px solid #0000000d;
}
#StoryComponent {
  grid-area: component;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 0px 5px 0px #00000017;
  padding: 2rem 0;
}
#StoryPlayground {
  grid-area: playground;
  padding: 1.5rem;
  background: #f6f9fc;
  border-top: 1px solid #0000000d;
  --jse-theme-color: #026eb1;
  --jse-theme-color-highlight: #1ea7fd;
  --jse-menu-color: #fafafa;
}
#StoryPlayground_buttons {
  background: #ebebeb;
  padding: 5px;
  display: flex;
  column-gap: 5px;
  border-bottom: var(--jse-main-border);
  border-left: var(--jse-main-border);
  border-right: var(--jse-main-border);
}
#StoryPlayground .svelte-jsoneditor-react .jse-main .jse-contents {
  border-bottom: none;
}

#StortListComponents_h2 {
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  letter-spacing: 3.85px;
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
  font-size: 11px;
  padding-right: 34px;
}

.StoryListComponent {
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #333;
  padding: 3px;
  cursor: pointer;
}
.StoryListComponent:hover {
  background: #0000000d;
}
.StoryListComponent_summary {
  font-family: inherit;
  font-size: 13px;
  padding-left: 13px;
  list-style: none;
}

.ClarityBookmarkLine {
  color: #1ea7fd;
  width: 14px;
  height: 14px;
}

.StoryListComponent_ul {
  padding: 0;
  margin: 0;
}

.StoryListComponent_li {
  padding: 3px 34px 3px 34px;
  font-size: 13px;
  list-style: none;
}
.StoryListComponent_li:hover {
  background: #0000000d;
}
.StoryListComponent_li.StoryListComponent_li_selected {
  background: #1ea7fd;
  color: white;
  font-weight: 700;
}

.StoryListComponent_a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.RadixIconsComponent2 {
  color: rgb(30, 167, 253);
}

#StoryPlayground_description {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #333;
}
#StoryPlayground_description > label {
  font-weight: bold;
}

.StoryPlayground_textarea {
  flex-grow: 1;
  appearance: none;
  border: 0 none;
  box-sizing: inherit;
  display: block;
  margin: 0;
  background: #ffffff;
  padding: 6px 10px;
  font-size: 13px;
  position: relative;
  transition: box-shadow 200ms ease-out, opacity 200ms ease-out;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 4px;
  line-height: 20px;
  flex: 1;
  text-align: left;
  min-height: 50px;
}

.øbotonera {
  display: flex;
  column-gap: 0.5rem;
}
