#pagePlayground_o {
  grid-area: playground;
  padding: 1.5rem;
  background: #1e1e1e;
  border-top: 1px solid #0000000d;
  --jse-theme-color: #026eb1;
  --jse-theme-color-highlight: #1ea7fd;
  --jse-menu-color: #fafafa;
  display: flex;
  flex-direction: column;
}
