#MainLayout_o {
  display: grid;
  grid-template-areas: "list title" "list component" "list playground";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
}

#MainLayout_nav_o {
  grid-area: list;
  background: var(--interface-background_o);
  border-right: 1px solid var(--border-color-strong_o);
  height: 100vh;
  overflow: auto;
}
#MainLayout_nav_home_o {
  font-family: var(--font-sans_o);
  color: var(--color_o);
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: inherit;
  padding: 3px 13px;
  font-size: 15px;
  list-style: none;
  line-height: 1.4;
}
#MainLayout_nav_home_o > svg {
  color: #1ea7fd;
  margin-bottom: 5px;
}
#MainLayout_nav_list_title_o {
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  letter-spacing: 3.85px;
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
  font-size: 11px;
  padding-right: 34px;
}
