#MainLayout_o {
  display: grid;
  grid-template-areas: "list title" "list component" "list playground";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
}

#MainLayout_nav_o {
  grid-area: list;
  background: var(--interface-background_o);
  border-right: 1px solid var(--border-color-strong_o);
  height: 100vh;
  overflow: auto;
}


