.Item {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
  background: black;
  border: 5px solid rgba(40, 106, 106);
  box-shadow: 0px 6px 10px rgba(40, 106, 106, 0.2),
    0px -6px 10px rgba(40, 106, 106, 0.2), 6px 0px 10px rgba(40, 106, 106, 0.2),
    -6px 0px 10px rgba(40, 106, 106, 0.2);
  color: white;
  overflow: hidden;

  & > div > span {
    font-size: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.ItemLink {
  text-decoration: none;
  color: black;
}

.fullWidth {
  overflow: hidden;
  border: 5px solid rgba(40, 106, 106);

  .Item {
    pointer-events: none;
    --viewWidth: 100vw;
    width: 100vw;
    height: 100vw;
    scale: 2.5;
    & > div > span {
      font-size: 100vw;
    }
  }
}
