
/* start file: ./src/components/playground/defaultVars.css */
:root {
    --border-color_o: #0000000d;
    --border-color-strong_o: #00000020;
    --color_o: #333;
    --interface-background_o: #f6f9fc;
    --font-sans_o: "Nunito Sans", -apple-system, ".SFNSText-Regular",
      "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
}
/* end file: ./src/components/playground/defaultVars.css */


/* start file: ./src/components/playground/title/title_0.css */
#playgroundTitle_h1_o {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#playgroundTitle_button_o {
    position: absolute;
    right: 1rem;
    --_oadmin_button_color: #fff;
    font-weight: bold;
    --_oadmin_button_background: #fd271c;
    --_oadmin_button_background_hover: hsl(3, 98%, 60%);
    --_oadmin_button_background_active: #fd271c;
}
/* end file: ./src/components/playground/title/title_0.css */

