.tabs_o {
  display: flex;
  background: #252526;
  flex-wrap: wrap;
  grid-area: tabs;
}
.tab_o {
  appearance: none;
  border: none;
  padding: 10px 20px;
  background: #2d2d2d;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  flex-shrink: 0;
  white-space: nowrap;
}
.tab_o:hover {
  box-shadow: inset 0 0 1px #8fd3fda0;
  background: #000;
}
.tab_o.active_o {
  background: #1d1d1d;
  font-weight: bold;
}
.tab_o:hover {
  box-shadow: inset 0 0 1px #8fd3fda0;
  background: #000;
}
.TabButtons_o {
  display: flex;
  column-gap: 5px;
  color: #8fd3fd;
  cursor: pointer;
  font-size: 115%;
}
.TabButtons_o > svg:hover {
  color: #1ea7fd;
}

.tabs_o > .øbuttons {
  appearance: none;
  border: none;
  background: #1d1d1d;
  color: #8fd3fd;
  margin: 3px;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 1px #8fd3fd50;
  cursor: pointer;
}
.tabs_o > .øbuttons:hover {
  color: #fff;
  background: #000;
  box-shadow: inset 0 0 1px #8fd3fda0;
}
