

.øtabs {
  display: flex;
  background: #252526;
  margin-bottom: 10px;
}
.øtab {
  appearance: none;
  border: none;
  padding: 10px 20px;
  background: #2d2d2d;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.øtab:hover {
  box-shadow: inset 0 0 1px #8fd3fda0;
  background: #000;
}
.øtab.øactive {
  background: #1d1d1d;
  font-weight: bold;
}
.øtab:hover {
  box-shadow: inset 0 0 1px #8fd3fda0;
  background: #000;
}
.øTabButtons {
  display: flex;
  column-gap: 5px;
  color: #8fd3fd;
  cursor: pointer;
  font-size: 115%;
}
.øTabButtons > svg:hover {
  color: #1ea7fd;
}

.øtabs > .øbuttons {
  appearance: none;
  border: none;
  background: #1d1d1d;
  color: #8fd3fd;
  margin: 3px;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 1px #8fd3fd50;
  cursor: pointer;
}
.øtabs > .øbuttons:hover {
  color: #fff;
  background: #000;
  box-shadow: inset 0 0 1px #8fd3fda0;
}
#StoryPlaygroundEditor {
  flex-grow: 1;
}
#StoryPlayground .svelte-jsoneditor-react .jse-main .jse-contents {
  border-bottom: none;
}

.StoryListComponent_li.StoryListComponent_li_selected {
  background: #1ea7fd;
  color: white;
  font-weight: 700;
}

#StoryPlayground_description {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #333;
}
#StoryPlayground_description > label {
  font-weight: bold;
}

.StoryPlayground_textarea {
  flex-grow: 1;
  appearance: none;
  border: 0 none;
  box-sizing: inherit;
  display: block;
  margin: 0;
  background: #ffffff;
  padding: 6px 10px;
  font-size: 13px;
  position: relative;
  transition: box-shadow 200ms ease-out, opacity 200ms ease-out;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 4px;
  line-height: 20px;
  flex: 1;
  text-align: left;
  min-height: 50px;
}

.øbotonera {
  display: flex;
  column-gap: 0.5rem;
}
